<!DOCTYPE html>
<html>
<head>
    <title>GitHub MicroPython Projects</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            color: #333;
        }

        form {
            text-align: center;
            margin: 20px auto;
        }

        label {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

        input[type="text"] {
            width: 300px;
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button[type="submit"] {
            padding: 8px 16px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            padding: 20px;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }

        h2 a{
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
            text-decoration-line: none;
        }

        img {
            max-width: 100px;
            max-height: 100px;
            border-radius: 5px;
        }

        p {
            font-size: 16px;
            color: #666;
            margin: 10px 0;
        }

        p.stars {
            font-weight: bold;
            color: #007bff;
        }
    </style>
</head>
<body>
    <h1>GitHub MicroPython Projects</h1>
    
    <form method="POST">
        <label for="search_query">Enter a search term:</label>
        <input type="text" id="search_query" name="search_query" required>
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for project in projects %}
            <li>
                <h2><a href="{{ project.github_url }}" target="_blank">{{ project.name }}</a></h2>
                <p>{{ project.description }}</p>
                <p class="stars">Stars: {{ project.stargazers_count }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

