<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Project Display</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
        header {
            background-color: #24292e;
            color: #ffffff;
            text-align: center;
            padding: 20px 0;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .small-container {
            max-width: 80px;
            margin: 4px auto;
            background-color: #ffffff;
            padding: 4px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            font-size: 24px;
        }
        .project-info {
            margin-top: 20px;
        }
        .readme {
            margin-top: 30px;
            font-size: 16px;
            line-height: 1.6;
        }
        .download-section {
            margin-top: 30px;
        }
    </style>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</head>
<body>
    <header>
        <h1>GitHub Project Display</h1>
    </header>
    <div class="container">
        <div class="project-info">
            <h2>Project Name: <span id="project-name">{{project_name}}</span></h2>
            <p>Author: <span id="author">{{author}}</span></p>
            <p>GitHub Stars: <span id="github-stars">{{stars}}</span></p>
        </div>
        <div class="readme">
            <h2>Readme</h2>
            <div class="markdown-body">
                {{readme|safe}}
            </div>
        </div>
    </div>
    <div class="download-section container">
        <h2>Download</h2>
        {% for download in downloads%}
        <p>{{download[0]}}: <a href="{{download[1]}}" id="latest-version-download">Download</a></p>
        {% endfor %}
    </div>
</body>
</html>

